<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
</head>

<body>

<header>Kirjakauppa</header>

<div>
    <p>Kirjautunut käyttäjä: <span sec:authentication="name"></span></p>

    <form th:action="@{/logout}" method="post" style="display:inline;">
        <input type="submit" value="Kirjaudu ulos" />
    </form>
</div>

<div>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Teos</th>
                <th>Tekijä</th>
                <th>Julkaisuvuosi</th>
                <th>ISBN</th>
                <th>Hinta</th>
                <th>Kategoria</th>
                <th>Muokkaa</th>
                <th sec:authorize="hasAuthority('ADMIN')">Poista</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.author}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.price}"></td>
                <td th:text="${book.category.categoryName}"></td>

                <td>
                    <a th:href="@{/edit/{id}(id=${book.id})}">Muokkaa</a>
                </td>

                <td sec:authorize="hasAuthority('ADMIN')">
                    <a th:href="@{/delete/{id}(id=${book.id})}">Poista</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <br> 
        <a href="/add">+ Lisää kirja</a>
    </div>
</div>

</body>
</html>